// Anything less than 400px ie an Iphone
@media all and (max-width: 400px)
  body
    font-size: 0.619em
  li
    font-size: 1.618em
    margin-left: 1em

  .user_stats
    margin-left: 1em

// Media bigger than the iphon but less than tablet
@media all and (max-width: 500px) and (min-width: 401px)
  body
    font-size: 0.79em

// Media bigger than Ipad and tablets id desktop

@media all and (min-width: 901px)
  .menu-link
    display: none
  .user_side_menu
    -webkit-transform: translate(17.755em, 0px)
    -moz-transform: translate(17.755em, 0px)
    -o-transform: translate(17.755em, 0px)
    -ms-transform: translate(17.755em, 0px)
    transform: translate(17.755em, 0px)
  .activity_location
    -webkit-transform: translate(17.725em, 0px)
    -moz-transform: translate(17.725em, 0px)
    -o-transform: translate(17.725em, 0px)
    -ms-transform: translate(17.725em, 0px)
    transform: translate(17.725em, 0px)
    width: 80%
//   body
//     font-size: 1em
//   .user_side_menu
//     left: 0
//   .menu-link
//     display: none

//   .user_home
//     display: flex
//     margin: 0 auto


