
// Anything less than 400px ie an Iphone
@media all and (max-width: 500px)
  body
    font-size: 0.619em

  .user_list
    li
      line-height: 3em

  .user_stats
    margin-left: 1em

  .user_photo
    margin: 1.618em 0
    width: 80%

// Media bigger than the iphon but less than tablet
@media all and (max-width: 600px) and (min-width: 500px)
  body
    font-size: 1em

  .user_list
    li
      line-height: 3em

  .user_stats
    margin-left: 1em

  .user_photo
    margin: 1.618em 0
    width: 80%

@media all and (max-width: 900px) and (min-width: 601px)

  .user_photo
    margin: 1.618em
    width: 70%

  .user_list
    li
      line-height: 3em

  .user_stats
    margin-left: 1em

  .user_photo
    margin: 1.618em 0
    width: 10em
    height: 10em

// Media bigger than Ipad and tablets id desktop
@media all and (min-width: 901px)
  .user_stats
    margin: 1em
  .menu-link
    display: none

  .activity_list_item
    .panel
      height: auto

  .user_side_menu
    width: 17.755em
    left: -17.755em
    -webkit-transform: translate(17.755em, 0px)
    -moz-transform: translate(17.755em, 0px)
    -o-transform: translate(17.755em, 0px)
    -ms-transform: translate(17.755em, 0px)
    transform: translate(17.755em, 0px)

  .activity_location
    -webkit-transform: translate(17.755em, 0px)
    -moz-transform: translate(17.755em, 0px)
    -o-transform: translate(17.755em, 0px)
    -ms-transform: translate(17.755em, 0px)
    transform: translate(17.755em, 0px)
    width: 75%




