html
  &.html_login
    background: url(http://i.imgur.com/ZOhM6zC.jpg) no-repeat center center fixed
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover

  &.html_user
    background: url(http://i.imgur.com/ZOhM6zC.jpg) no-repeat center center fixed
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover

  &.html_activity
    background: url(http://i.imgur.com/YCaFGmB.jpg) no-repeat center center fixed
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover

.index
  display: flex
  align-items: center
  justify-content: center
  height: 45em
  width: 100%

main
  width: 100%
  justify-content: center
  align-items: center
  align-content: center

body
  font-family: 'haymaker'

// <a href="http://imgur.com/ZOhM6zC"><img src="http://i.imgur.com/ZOhM6zC.jpg" title="Hosted by imgur.com"/></a>


// Layout for login page=============================================

.login_container
  display: flex
  flex-flow: column nowrap
  width: 30em
  margin: 0 auto
  text-align: center
  border-radius: 0.5em
  padding: 2em 0


.login_logo
  margin-top: 1em


.login_form
  display: flex
  flex-flow: column nowrap
  margin-bottom: 2em

.login_form_buttons
  display: flex
  flex-flow: row nowrap
  justify-content: center
  a
    font-size: 1.618em
    line-height: 2em
    padding: 0 0.5em
    margin: 0 0.2em


.login_form_inputs
  display: flex
  flex-flow: column nowrap
  font-size: 1.618em
  width: 85%
  margin: 1em auto

.login_input_container
  width: 14.3em

.login_input
  flex-wrap: nowrap
  text-align: right
  width: 100%
  font-size: 0.8em
  input
    flex: 1
    height: 1.618em
    font-size: 0.8em
    font-family: 'haymaker'
    width: 12.5em
    margin: 0.3em 0


    // This is to style the input box
    text-decoration: none
    background: none
    border-radius: 0
    border: transparent
    border-bottom: 2px solid white
    -webkit-box-shadow: none
    box-shadow: none
    &:focus
      border-bottom: 2px solid #acd34c
      outline: none
  label
    margin-left: 0
    font-size: 1vm
    flex: 1

.login_social
  display: flex
  justify-content: center
  align-items: center
  margin-bottom: 1em
  h4
    margin-right: 0.3em
    font-size: 1.618em
  a
    margin: 0 0.4em


// layout for user-home.html=======

.user_home
  width: 100%
  overflow: hidden

.user_photo
  width: 70%
  border: 0.2em solid #69ad57
  border-radius: 0.2em

.user_svg
  height: 4em
  width: 4em
  margin: 0.5em auto


.user_list
  li
    text-align: left
    padding: 0.2em 0
    width: 95%
    border-bottom: 0.1em solid #9ac69b
    line-height: 1em
    a
      font-size: 1em
      width: 100%
      text-decoration: none
      margin-left: 1em




.user_stats
  h3
    font-size: 1.618em
    margin: 0.5em 0
  h5
    margin: 0.20em 0

.icon-menu_logo_button
  font-size: 3em

.icon-GoOutsideLogo
  font-size: 3em
  line-height: 1.5em


.activity_map
  height: 20em
  width: 100%

.activity_list_item
  margin: 0.7em
  height: 5em
  width: 96%
  border: 0.2em solid white
  border-radius: 0.5em
  display: flex
  flex-flow: row nowrap
  justify-content: space-around
  h1
    line-height: 5em
  .rating
    line-height: 5em

.hidden
  display: none

.activity
  display: flex
  flex-flow: row nowrap

.activity:hover .hidden
  display: flex
  margin-left: 1em
  font-size: 0.8em




// This is the voting system
