.login_container
  width: 75%
  display: flex
  flex-flow: column nowrap
  margin: 0 auto
  text-align: center

.login_form
  display: flex
  flex-flow: column nowrap

body
  display: flex
  align-items: center

.login_form_buttons
  display: flex
  flex-flow: row nowrap
  justify-content: center

.login_form_inputs
  display: flex
  flex-flow: column nowrap
  align-items: center

.login_email_input
  flex-flow: row nowrap
  input
    width: 100%

.login_password_input
  flex-flow: row nowrap
  input
    width: 100%


