body
  display: flex
  align-items: center
  justify-content: center
  height: 45em
  width: 100%

main
  width: 100%
  justify-content: center
  align-items: center
  align-content: center

.login_container
  width: 75%
  display: flex
  flex-flow: column nowrap
  margin: 0 auto
  text-align: center

.login_form
  display: flex
  flex-flow: column nowrap

.login_form_buttons
  display: flex
  flex-flow: row nowrap
  justify-content: center
  a
    font-size: 1.618em
    &.button_login
      &:hover
        background-color: white
        color: blue

.login_form_inputs
  display: flex
  flex-flow: column nowrap
  margin: 0 auto

.login_email_input
  flex-flow: row nowrap
  text-align: right
  width: 100%
  input
    width: 15em

.login_password_input
  flex-flow: row nowrap
  text-align: right
  width: 100%
  input
    width: 15em


