%cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

%backgrounds {
  background: {
    repeat: no-repeat;
    position: center center;
  }
}
