.user_side_menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 17.755em;
  left: -17.755em;
  height: 100%;
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transition: 0.30s ease;
  -moz-transition: 0.30s ease;
  -o-transition: 0.30s ease;
  transition: 0.30s ease;
}

.user_side_menu.active {
  -webkit-transform: translate(17.755em, 0px);
  -moz-transform: translate(17.755em, 0px);
  -o-transform: translate(17.755em, 0px);
  -ms-transform: translate(17.755em, 0px);
  transform: translate(17.755em, 0px);
}

.activity_location {
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transition: 0.30s ease;
  -moz-transition: 0.30s ease;
  -o-transition: 0.30s ease;
  transition: 0.30s ease;
}

.activity_location.active {
  -webkit-transform: translate(17.725em, 0px);
  -moz-transform: translate(17.725em, 0px);
  -o-transform: translate(17.725em, 0px);
  -ms-transform: translate(17.725em, 0px);
  transform: translate(17.725em, 0px);
}

.menu-link {
  position: absolute;
  top: 15px;
  left: 0.1em;
}




