.button_login {
  height: auto;
  width: 5em;
  border-radius: 0.2em;
  background-color: #bf7532;
  text-decoration: none;
  align-content: center;
  justify-content: center;
  font-size: 1.618em;
  color: white; }

.button_signup {
  height: auto;
  width: 5em;
  border-radius: 0.2em;
  background-color: #2c6f34;
  text-decoration: none;
  align-content: center;
  justify-content: center;
  font-size: 1.618em;
  color: white; }

.activity {
  line-height: 1.7em;
  font-size: 1.618em;
  background-color: #69ad57;
  padding: 0.5em;
  margin: 0.2em auto;
  border: 0.2em solid white;
  border-radius: 0.5em;
  width: 70%;
  text-align: left;
  text-decoration: none;
  color: white; }
  .activity.hiking {
    background: url(http://i.imgur.com/3Rsc4Up.png); }
  .activity.cycling {
    background: url(http://i.imgur.com/FiZyAk9.png?1);
    color: #003035; }
  .activity.water {
    background: url(http://i.imgur.com/8ew7J2u.png?1);
    color: #003035; }
  .activity.snow {
    background: url(http://i.imgur.com/LA598VO.png?1);
    color: white; }
  .activity:hover {
    border: 0.2em solid #2c6f34; }

html.html_login {
  background: url(http://i.imgur.com/ZOhM6zC.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
html.html_user {
  background: url(http://i.imgur.com/ZOhM6zC.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
html.html_activity {
  background: url(http://i.imgur.com/YCaFGmB.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.index {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45em;
  width: 100%; }

main {
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center; }

.login_container {
  display: flex;
  flex-flow: column nowrap;
  width: 30em;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(0, 48, 53, 0.8);
  border-radius: 0.5em;
  padding: 2em 0; }
  .login_container h4 {
    color: #69ad57; }

.login_logo {
  margin-top: 1em; }

.login_form {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 2em; }

.login_form_buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center; }
  .login_form_buttons a {
    font-size: 1.618em;
    line-height: 2em;
    padding: 0 0.5em;
    margin: 0 0.2em; }
    .login_form_buttons a.button_login:hover, .login_form_buttons a.button_signup:hover {
      background-color: #9ac69b;
      color: #003035; }

.login_form_inputs {
  display: flex;
  flex-flow: column nowrap;
  font-size: 1.618em;
  width: 80%;
  margin: 1em auto; }

.login_input_container {
  width: 14.3em; }

.login_input {
  flex-wrap: nowrap;
  text-align: right;
  width: 100%; }
  .login_input input {
    flex: 1;
    height: 1.618em;
    font-size: 0.8em;
    color: #bf7532;
    width: 12em;
    margin: 0.2em 0;
    text-decoration: none;
    background: none;
    border-radius: 0;
    border: transparent;
    border-bottom: 2px solid white;
    -webkit-box-shadow: none;
    box-shadow: none; }
    .login_input input:focus {
      border-bottom: 2px solid #acd34c;
      outline: none; }
  .login_input label {
    margin-left: 0;
    font-size: 1vm;
    flex: 1;
    color: #69ad57; }

.login_social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em; }
  .login_social h4 {
    margin-right: 0.3em;
    font-size: 1.618em; }
  .login_social a {
    margin: 0 0.4em; }

.user_home {
  display: flex;
  height: auto;
  margin: 0 auto;
  width: 80%; }

.user_side_menu {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 48, 53, 0.8);
  font-size: 1.618em; }

.user_photo {
  margin: 1.618em 0;
  width: 60%;
  border: 0.2em solid #69ad57;
  border-radius: 0.2em; }

.user_list li {
  text-align: left;
  margin: 0.4em 0;
  padding: 0.2em 0.5em; }
  .user_list li a {
    font-size: 1em;
    color: white; }

.user_stats h3 {
  font-size: 1.618em;
  color: #bf7532; }
.user_stats h5 {
  color: #69ad57; }

.activity_location {
  display: flex;
  flex-flow: column nowrap;
  flex: 3; }

.activity_map {
  height: 20em;
  width: 100%;
  background-color: transparent; }

.activity_list_item {
  background-color: blue;
  margin: 0.1em 0;
  height: 5em;
  width: 100%; }

.comingsoon {
  opacity: 0.3; }

.hidden {
  display: none; }

.activity {
  display: flex;
  flex-flow: row nowrap; }

.activity:hover .hidden {
  display: flex;
  margin-left: 1em;
  font-size: 1em; }

.hidden:hover {
  opacity: 1; }

.user_side_menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 17.755em;
  left: -17.755em;
  height: 100%;
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transition: 0.30s ease;
  -moz-transition: 0.30s ease;
  -o-transition: 0.30s ease;
  transition: 0.30s ease; }

.user_side_menu.active {
  -webkit-transform: translate(17.755em, 0px);
  -moz-transform: translate(17.755em, 0px);
  -o-transform: translate(17.755em, 0px);
  -ms-transform: translate(17.755em, 0px);
  transform: translate(17.755em, 0px); }

.activity_location {
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transition: 0.30s ease;
  -moz-transition: 0.30s ease;
  -o-transition: 0.30s ease;
  transition: 0.30s ease; }

.activity_location.active {
  -webkit-transform: translate(17.725em, 0px);
  -moz-transform: translate(17.725em, 0px);
  -o-transform: translate(17.725em, 0px);
  -ms-transform: translate(17.725em, 0px);
  transform: translate(17.725em, 0px); }

.menu-link {
  position: absolute;
  top: 15px;
  left: 0.1em; }

@media all and (max-width: 400px) {
  body {
    font-size: 0.619em; }

  li {
    font-size: 1.618em;
    margin-left: 1em; }

  .user_stats {
    margin-left: 1em; } }
@media all and (max-width: 500px) and (min-width: 401px) {
  body {
    font-size: 0.79em; } }
@media all and (min-width: 501px) {
  body {
    font-size: 1em; } }
