@font-face {
	font-family: 'icomoon';
	src:url('../sass/typography/fonts/icomoon.eot?2zqqau');
	src:url('../sass/typography/fonts/icomoon.eot?#iefix2zqqau') format('embedded-opentype'),
		url('../sass/typography/fonts/icomoon.woff?2zqqau') format('woff'),
		url('fonts/icomoon.ttf?2zqqau') format('truetype'),
		url('../sass/typography/fonts/icomoon.svg?2zqqau#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-GoOutsideLogo:before {
	content: "\e601";
}

.icon-menu_logo_button:before {
	content: "\e600";
}

// Haymaker font=======================

@font-face {
  font-family: 'haymaker';
  src:url('../sass/typography/fonts/Haymaker.ttf');
  font-weight: normal;
  font-size: normal;
}
