.button_login
  width: 5em
  border-radius: 0.2em
  background-color: #bf7532
  text-decoration: none
  align-content: center
  justify-content: center
  font-size: 1em
  color: white

.button_signup
  height: auto
  width: 5em
  border-radius: 0.2em
  background-color: #2C6F34
  text-decoration: none
  align-content: center
  justify-content: center
  font-size: 1.618em
  color: white

.activity
  line-height: 1.7em
  font-size: 1.618em
  background-color: #69ad57
  padding: 0.5em
  margin: 0.2em auto
  border: 0.2em solid white
  border-radius: 0.5em
  width: 70%
  text-align: left
  text-decoration: none
  color: white
  &.hiking
    background: url(http://i.imgur.com/3Rsc4Up.png)
  &.cycling
    background: url(http://i.imgur.com/FiZyAk9.png?1)
    color: #003035
  &.water
    background: url(http://i.imgur.com/8ew7J2u.png?1)
    color: #003035
  &.snow
    background: url(http://i.imgur.com/LA598VO.png?1)
    color: white
  &:hover
    border: 0.2em solid #2c6f34

//Login Form Buttons ===========================

.login_form_buttons
  display: flex
  flex-flow: row nowrap
  justify-content: center
  a
    padding: 0 0.5em
    margin: 0 0.2em

.login_social
  display: flex
  justify-content: center
  align-items: center
  margin-bottom: 1em
  h4
    margin-right: 0.3em
  a
    margin: 0 0.4em
