<div class="index">
  <main>
    <div class="activity_map"></div>
    <section class="login_container">

      <a ng-click='hikeMap()' class="activity hiking">
        <h1>Hiking</h1>
      </a>
      <a class="activity cycling comingsoon hidden">
        <h1>Cycling</h1>
        <p class="hidden">Coming Soon!</p>
      </a>
      <a class="activity water comingsoon hidden">
        <h1>Water</h1>
        <p class="hidden">Coming Soon!</p>
      </a>
      <a class="activity snow comingsoon hidden">
        <h1>Snow</h1>
        <p class="hidden">Coming Soon!</p>
      </a>
    </section>
  </main>
</div>