<div class="html_login">
  <div class="index">
    <main>
      <article class="login_container">
        <section class="login_logo">
          <object class="login_svg" type="image/svg+xml" data="images/GoOutsideLogo.svg"></object>
          <!-- <img src="images/GoOutsideLogo.svg" alt="GoOutside logo"> -->
          <!-- <svg width="100" height="100" -->
        </section>
        <div ng-controller='loginController'>
        <form class="login_form">
          <div class="login_form_inputs">
            <div class="login_input_container">
              <div class="login_input">
                <label>Email:</label>
                <input ng-model='user.email' type="email" placeholder="Type your Email" size="20"></input>
              </div>
            </div>
            <div class="login_input_container">
              <div class="login_input">
                <label>Password:</label>
                <input ng-model='user.password' type="password" placeholder="Type your password"></input>
              </div>
                <p>{{failedLogin}}</p>
            </div>
          </div>
          <div class="login_form_buttons">
            <a ng-click='signin()' class="button_login">Login</a>
            <a ng-click='signin()' class="button_signup">Sign up</a>
          </div>
        </form>
        </div>

        <section class="login_social">
          <h4>Login with:</h4>
          <a href="#" class="button_FB"><img src="https://i.imgur.com/6jGbftu.png"/></a>
          <a href="#" class="button_Twitter"><img src="https://i.imgur.com/sMjyaaP.png"/></a>
        </section>

      </article>
    </main>
  </div>
</div>
