<div class="html_user" >
<div>
      <article class="user_home">
        <section class="user_side_menu">
          <section class="user_stats">
            <img src="http://i.imgur.com/rbcoO4a.jpg" class="user_photo">
            <h3>Hello, </h3>
            <h5>Hikes Completed:</h5>
            <h5>Member Since: </h5>
          </section>
          <section class="user_list">
            <ul>
              <li>
                <a href="">Favorites</a>
              </li>
              <li>
                <a href="">Recomended</a>
              </li>
              <li>
                <a href="">Blah</a>
              </li>
              <li>
                <a href="">Blah</a>
              </li>
              <li>
                <a href="">Blah</a>
              </li>
              <li>
                <a href="">Blah</a>
              </li>
            </ul>
            <div class="login_form_buttons">
              <a ng-click="signout()" class="button_login">Logout</a>
            </div>
          </section>
        </section>
        <section class="activity_location">
          <div>
            <button ng-click='toggle()' class="menu-link icon-menu_logo_button"></button>
          </div>
          <div class="activity_map">

          </div>
          <section class="activity_list">
            <div class="activity_list_item">
              <div class="activity_list_item_top">
                <a href="" class="icon-GoOutsideLogo">

                </a>
                <h1 class="pull-me">This Is a Test Title for Hike</h1>
                <div class="rating" data-rate="5">
                  <i class="star-1">★</i>
                  <i class="star-2">★</i>
                  <i class="star-3">★</i>
                  <i class="star-4">★</i>
                  <i class="star-5">★</i>
                </div>
              </div>
              <div class="panel">
                <ul>
                  <li>
                    <p>This is a brief description of a hike and what it's all about</p>

                  </li>
                </ul>
              </div>
            </div>
            <div class="activity_list_item">
              <div class="activity_list_item_top">
                <a href="" class="icon-GoOutsideLogo">

                </a>
                <h1 class="pull-me">This Is a Test Title for Hike</h1>
                <div class="rating" data-rate="4">
                  <i class="star-1">★</i>
                  <i class="star-2">★</i>
                  <i class="star-3">★</i>
                  <i class="star-4">★</i>
                  <i class="star-5">★</i>
                </div>
              </div>
              <div class="panel">
                <ul>
                  <li>
                    <p>This is a brief description of a hike and what it's all about</p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="activity_list_item">
              <div class="activity_list_item_top">
                <a href="" class="icon-GoOutsideLogo">

                </a>
                <h1 class="pull-me">This Is a Test Title for Hike</h1>
                <div class="rating" data-rate="3">
                  <i class="star-1">★</i>
                  <i class="star-2">★</i>
                  <i class="star-3">★</i>
                  <i class="star-4">★</i>
                  <i class="star-5">★</i>
                </div>
              </div>
              <div class="panel">
                <ul>
                  <li>
                    <p>This is a brief description of a hike and what it's all about</p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="activity_list_item">
              <div class="activity_list_item_top">
                <a href="" class="icon-GoOutsideLogo">

                </a>
                <h1 class="pull-me">This Is a Test Title for Hike</h1>
                <div class="rating" data-rate="2">
                  <i class="star-1">★</i>
                  <i class="star-2">★</i>
                  <i class="star-3">★</i>
                  <i class="star-4">★</i>
                  <i class="star-5">★</i>
                </div>
              </div>
              <div class="panel">
                <ul>
                  <li>
                    <p>This is a brief description of a hike and what it's all about!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sem velit, convallis vel blandit eget, rutrum ut lorem. Vestibulum at velit quis sem mattis vulputate.</p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="activity_list_item">
              <div class="activity_list_item_top">
                <a href="" class="icon-GoOutsideLogo">

                </a>
                <h1 class="pull-me">This Is a Test Title for Hike</h1>
                <div class="rating" data-rate="1">
                  <i class="star-1">★</i>
                  <i class="star-2">★</i>
                  <i class="star-3">★</i>
                  <i class="star-4">★</i>
                  <i class="star-5">★</i>
                </div>
              </div>
              <div class="panel">
                <ul>
                  <li>
                    <p>This is a brief description of a hike and what it's all about</p>
                  </li>
                </ul>
              </div>
            </div>

          </section>
        </section>
      </article>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="user_home.js"></script>
      <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.1.min.js"><\/script>')</script>
    </div>
</div>
